<link rel="stylesheet" href="/CSS/home.css">

<link rel="stylesheet" href="/CSS/chat_box.css">
    
<div id ="home-page">

<section id ="feed-post" >

    <h2>Posts</h42>

   <% if(locals.user)  {%>
<form action ="/posts/create/" id="new-post-form" method="POST" > 

<textarea name="content" cols="30" rows="3" placeholder="Write here" required ></textarea>

<input type="submit" value="Post"> 

</form>

<% } %>

<div id ="posts-list-container"> 

    <ul style="list-style-type:none;">
       <% for(post of posts){ %>
        
         <%- include('_posts') -%>

      <% } %>

    </ul>

</div>

</section>

<section id="user-friends">

  <h2>Friends</h2>
  <% for(u of all_users) {%>

   <p>
     
     <a href="/users/profile/<%= u.id%>"> 
      
      <h3><%=u.name %> </h3> 
    
    </a>

   </p>

  <%} %>
</section>

<%- include('_chat_box'); %>

</div>

 <script src="/js/home_comments.js"></script>
 
 <script src="/JS/home_posts.js"> </script>  

 <script src="js/toggle_likes.js"></script>

 <script>
  $('.toggle-like-button').each(function(){
      let self = this;
      let toggleLike = new ToggleLike(self);
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.js"></script>

<script src="/JS/chat_engine.js"></script>