#home-page
{
    display: flex ;

    #feed-post{
        width: 85%;
        padding: 10px;
    }

    #user-friends
    {
        width: 14%;
        padding: 10px;
        border-left: 1px solid rgb(99, 97, 97);
        background-color: lightcoral;
    }

     a {
       text-decoration: none;
       color: white;
    }

}