#body-main
{
    height: 85%;
   
   
    background-color : white;
    #signup-card
    {
        
        width: 24%;
        margin: auto;
        // background-color: aqua;
        margin-top: 40px;
        height: 60%;
        
    }

  

    input{
       
        border: none;
        border-bottom: 0.1px solid gray;
        margin-top : 20px;
        background-color: transparent;
        padding: 5px;
        width: 250px;

      
    }
 

   .button-class
   {
       color: #000;
       background-color: transparent;
       margin-top : 20px;
       border-width: .1px;
   }
   
   p {

      a {
        margin-top: 20px;
        text-decoration: none;
        background-color:  rgb(7, 7, 248);
       
        color: white;
        display: inline-block;
        width: 250px;
        height: 30px;
        padding-top: 8px;
        font-size: 1.15rem;
      }
   }
 
}

