#home-page {
  display: flex; }
  #home-page #feed-post {
    width: 85%;
    padding: 10px; }
  #home-page #user-friends {
    width: 14%;
    padding: 10px;
    border-left: 1px solid #636161;
    background-color: lightcoral; }
  #home-page a {
    text-decoration: none;
    color: white; }
