#body-main {
  height: 85%;
  margin-top: -120px; }
  #body-main #sign-in-card {
    width: 24%;
    margin: auto;
    margin-top: 120px;
    height: 60%; }
  #body-main input {
    border: none;
    border-bottom: 0.1px solid gray;
    margin-top: 20px;
    background-color: transparent;
    padding: 5px;
    width: 250px; }
  #body-main .button-class {
    color: #000;
    background-color: transparent;
    margin-top: 20px;
    border-width: .1px; }
  #body-main p a {
    margin-top: 20px;
    text-decoration: none;
    background-color: #0707f8;
    color: white;
    display: inline-block;
    width: 250px;
    height: 30px;
    padding-top: 8px;
    font-size: 1.15rem; }
